<html>
   <head>
      <link href="../static/style.css" rel="stylesheet" type="text/css" />
   </head>
   <body>
      <div class="pagination-container">
         <ul class="pagination">
            <li>
               <a href="#" id="url-link" class="active">URL</a>
            </li>
            <li>
               <a href="#" id="text-link">Text</a>
            </li>
         </ul>
         <div class="progress-bar-container">
            <div class="progress-bar">
            </div>
            <span class="progresstext">0%</span>
         </div>
      </div>
      <div class="container">
         <div class="left-pane">
            <div class="input-container">
              <form id="summarize-form">
               <input type="hidden" id="input-type" value="url" />
               <textarea placeholder="Enter a URL..." style="resize: none;" form="summarize-form" id="input-text"></textarea>
               <button class="submit-button" id="submit-button" type="submit" value="Summarize">Summarize</button>
              </form>
            </div>
         </div>
         <div class="right-pane">
            <h1 id="summary-title">Title</h1>
            <p id="summary-text">Summarized Content</p>
            <button id="copy-button" class="submit-button" type="button">
               <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24">
                 <path d="M180 975q-24 0-42-18t-18-42V312h60v603h474v60H180Zm120-120q-24 0-42-18t-18-42V235q0-24 18-42t42-18h440q24 0 42 18t18 42v560q0 24-18 42t-42 18H300Zm0-60h440V235H300v560Zm0 0V235v560Z"/>
               </svg>
             </button>
             <p id="wordCountText">Word count: 0</p>
         </div>
      </div>
   </body>
   <script src="../static/script.js"></script>
</html>